*{
    margin:0;
    padding: 0;
   }

   body{
    width: 80%;
    margin: auto;
   }
<<<<<<< HEAD

   main{
    background-color: blue;
   }
=======
>>>>>>> d25436f0fc192cb090a9b000b0e484ed194604b3
